#volume-control-1{
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}
#volume-control-2{
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}
#volume-control-3{
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}
#volume-control-4{
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}

#volume-control-5{
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}